<% if current_user %>
	<p style = "padding-left: 75%;">
    Logged in as <%= current_user.name %>.
    <%= link_to "Sign Out", sign_out_path %>
    </p>
    <% end %>
    <p style = "padding-left: 75%;">
    	<%= link_to 'Back', show_courses_path %>
    </p>
    	   
    	
    </p>
<center>
<h3><%=@course.name %> </h3>
<p></p>
<h4>Subjects</h4>


       
<div style="padding-top:3%">
<table>
  
<% @syllabuses.each do |syllabus| %>
  <tr>
    <td><%= link_to syllabus.name, show_syllabus_path(:course_id => syllabus.course_id,:syllabus_id=> syllabus.id)%></td>
 
  </tr>
<% end %>
</table>
<div/>
</center>
