<center>
<%= form_for(@topic) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, :class => "input-xxlarge" %>
  </div>
  <div class="field">
    <%= f.label :course_id %><br />
    <%= f.collection_select(:course_id, Course.all, :id , :name) %>
  </div>
  <div class="field">
    <%= f.label :Subject %><br />
    <%= f.collection_select(:syllabus_id, Syllabus.all, :id , :name) %> 
  </div>
  <div class="field">
    <%= f.label :Syllabus %><br />
    <%= f.collection_select(:chapter_id, Chapter.all, :id , :name) %>  
  </div>
   <div class="field">
    <%= f.label :header_id %><br />
    <%= f.collection_select(:header_id, Header.all, :id , :heading) %> 
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</center>