<center>
<h3><%=@course.name %> </h3>
<p></p>
<h3>Subject: <%=@syllabus.name %> </h3>
<p></p>
<h3> Syllabus for - <%=@chapter.name %> </h3>
<p></p>
<h3> <%=@header.heading %> </h3>
<p></p>
<p></p>
<div style="padding-top:3%;">
<table>
  

<% @topics.each do |topic| %>
  <tr>
    
    <td><%= topic.content %></td>
    
  </tr>
<% end %>
</table>
</center>
<br />



  
 
    
   
 
  
  


  
  
 

