<% if current_user %>
	<p style = "padding-left: 75%;">
    Logged in as <%= current_user.name %>.
    <%= link_to "Sign Out", sign_out_path %>
    </p>
    <% end %>
    <p style = "padding-left: 75%;">
    	<%= link_to 'Back', show_headers_path(:course_id => (session[:course_id]),:syllabus_id => (session[:syllabus_id]),:chapter_id => (session[:chapter_id])) %>
    </p>
    	   
<center>
<h3><%=@course.name %> </h3>
<p></p>
<h3>Subject: <%=@syllabus.name %> </h3>
<p></p>
<h3> Syllabus for - <%=@chapter.name %> </h3>
<p></p>
<h3> <%=@header.heading %> </h3>
<p></p>
<p></p>
<div style="padding-top:3%;">
<table>
 <% @topics.each do |topic| %>
  <tr>
  	   <% if current_user && current_user.role_id == 1 %>
        <% session[:id]= topic.id %>
       <% end %> 
    <td><%=  topic.content %></td>
          
  </tr> 
  
  <%end %>
</table>

<div style = "padding-top: 10%;">
<% if current_user && current_user.role_id == 1 %>
           <td> <%= link_to "Edit", update_topic_path(:id=>(session[:id]))%></td>
<% end %>
</div>
</center>


  
 
    
   
 
  
  


  
  
 

