<% if current_user %>
	<p style = "padding-left: 75%;">
    Logged in as <%= current_user.name %>.
    <%= link_to "Sign Out", sign_out_path %>
    </p>
    <% end %>
<center>
<%= form_for @topic, :as => :topic, :url => update_topic_path, :method => :put do |f| %>
  
   
  <div class="field">
    <%= f.label :Content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :course_id %><br />
    <%= f.number_field :course_id %>
  </div>
  <div class="field">
    <%= f.label :syllabus_id %><br />
    <%= f.number_field :syllabus_id %>
  </div>
  <div class="field">
    <%= f.label :chapter_id %><br />
    <%= f.number_field :chapter_id %>
  </div>
   <div class="field">
    <%= f.label :header_id %><br />
    <%= f.number_field :header_id %>
  </div>
    <%= f.hidden_field :id %>
  <div class="actions">
  	
    <%= f.submit 'Update' %>
  </div>
<% end %>
</center>