<% if current_user %>
	<p style = "padding-left: 75%;">
    Logged in as <%= current_user.name %>.
    <%= link_to "Sign Out", sign_out_path %>
    </p>
    <% end %>
     <p style = "padding-left: 75%;">
    	<%= link_to 'Back', show_topic_path(:course_id => (session[:course_id]),:syllabus_id => (session[:syllabus_id]),:chapter_id => (session[:chapter_id]),:header_id => (session[:header_id])) %>
    </p> 
    </p>
 
<center>
<h3><%=@course.name %> </h3>
<p></p>
<h3>Subject: <%=@syllabus.name %> </h3>
<p></p>
<h3> Syllabus for - <%=@chapter.name %> </h3>
<p></p>
<h3> <%=@header.heading %> </h3>
<p></p>
<p></p>

<%= form_for @topic, :as => :topic, :url => update_topic_path, :method => :put do |f| %>
  
   
  <div class="field">
    <%= f.label :Content %><br />
    <%= f.text_area :content ,  :class => "input-xxlarge"  %>
  </div>
   <%= f.hidden_field :id %>
   <%= f.hidden_field :course_id %>
   <%= f.hidden_field :syllabus_id %>
   <%= f.hidden_field :chapter_id %>
   <%= f.hidden_field :header_id %>
  
  <div class="actions">
  	<%= f.submit 'Update' %>
  </div>
<% end %>
</center>