<% if current_user %>
	<p style = "padding-left: 75%;">
    Logged in as <%= current_user.name %>.
    <%= link_to "Sign Out", sign_out_path %>
    </p>
    <% end %>
    <p style = "padding-left: 75%;">
    	<%= link_to 'Back', show_subjects_path %>
    </p>
    	   
<center>
<h3><%=@course.name %> </h3>
<p></p>
<h3>Subject: <%=@syllabus.name %> </h3>
<p></p>
<h4>Syllabus</h4>

<div style="padding-top:3%;">
<table>
 

<% @chapters.each do |chapter| %>
  <tr>
    <td><%= link_to chapter.name , show_headers_path(:course_id => chapter.course_id,:syllabus_id=> chapter.syllabus_id,:chapter_id=> chapter.id) %></td>
    
  </tr>
<% end %>
</table>
<div/>
</center>
<br />


