<% if current_user %>
	<p style = "padding-left: 75%;">
    Logged in as <%= current_user.name %>.
    <%= link_to "Sign Out", sign_out_path %>
    </p>
    <% end %>
    <p style = "padding-left: 75%;">
    	<%= link_to 'Back', show_syllabus_path(:course_id => (session[:course_id]),:syllabus_id => (session[:syllabus_id])) %>
    </p>
    	   
<center>
<h3><%=@course.name %> </h3>
<p></p>
<h3>Subject: <%=@syllabus.name %> </h3>
<p></p>
<h3> Syllabus for - <%=@chapter.name %> </h3>
<p></p>
<p></p>
<div style="padding-top:2%;">
<h4> Headings </h4>
<div/>
<div style="padding-top:3%;">
<table>
  

<% @headers.each do |header| %>
  <tr>
  	
    <td><%= link_to header.heading, show_topic_path(:course_id => header.course_id,:syllabus_id=> header.syllabus_id,:chapter_id=> header.chapter_id, :header_id=>header.id)%></td>
  
  </tr>
<% end %>
</table>
</div>

</center>

