<h1>Listing user_course_relations</h1>

<table>
  <tr>
    <th>User</th>
    <th>Course</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_course_relations.each do |user_course_relation| %>
  <tr>
    <td><%= user_course_relation.user_id %></td>
    <td><%= user_course_relation.course_id %></td>
    <td><%= link_to 'Show', user_course_relation %></td>
    <td><%= link_to 'Edit', edit_user_course_relation_path(user_course_relation) %></td>
    <td><%= link_to 'Destroy', user_course_relation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User course relation', new_user_course_relation_path %>
